/* The Sun icon in the header should not have an underline */
h1 a {
    text-decoration: none;
}

.u-textcenter {
  text-align: center;
}

.button {
}

@media (max-width: 775px) {
  .button {
    display: block;
    margin: 1rem auto;
  }
}

.note {
    font-family: 'Annie Use Your Telescope', cursive!important;
    font-size: 2.35rem;
    white-space: pre-wrap!important;
}

.noteinput {
    height: 6em;
}


.button-primary {
    background-color: #3ac025!important;
    border-color: #3ac025!important;
}

a {
    color: #3ac025!important;
}

.green {
    color: #3ac025!important;
}

.dark-green {
    color: #208A13!important;
}

#eve {
    height: 5rem;
    margin-top: 0.2em;
    color: green;
}