[packages]
Flask = "*"
gunicorn = "*"
PyJWT = "*"
requests = "*"
psycopg2 = "*"
records = "*"
docopt = "*"
sendgrid = "*"
auth0-python = "<3.0.0"
names = "*"
Flask-Common = "*"

[packages.raven]
extras = [ "flask",]
