appdirs 
auth0-python<=2
blinker
click
colorama
contextlib2
crayons
dateparser
docopt
flake8
flask
flask-qrcode
gunicorn
humanize
itsdangerous
jinja2
lxml
markupsafe
maya
names
ordereddict
packaging
pendulum
psycopg2
pyjwt
pyment
pytest
pyparsing
pytest-cov
python-dateutil
python-http-client
pytz
pytzdata
raven
regex
requests
ruamel.yaml
sendgrid
six
sqlalchemy
tablib
tzlocal
werkzeug
whitenoise
python-dotenv
markdown
flask_common