appdirs==1.4.3
auth0-python==3.0.0
blinker==1.4
click==6.7
contextlib2==0.5.5
docopt==0.6.2
Flask==0.12.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
names==0.3.0
packaging==16.8
psycopg2==2.7.1
PyJWT==1.5.0
pyparsing==2.2.0
python-http-client==2.2.1
raven==6.0.0
records==0.5.0
requests==2.13.0
sendgrid==4.0.0
six==1.10.0
SQLAlchemy==1.1.9
tablib==0.11.4
Werkzeug==0.12.1
