{% extends "base.htm.j2" %}

{% block title %}Say Thank You{% endblock %}

{% block content %}

<img class="avatar" src="{{user['picture']}}"/ width=100px;>

<h2>Welcome, {{ inbox.email }}!</h2>

<p>
    You may now direct your users (in a README or documentation, for example)
    to <a href="{{ url_for('display_submit_note', inbox=user['nickname'])}}">this URL</a>, where they can submit a note of thankfullness.
</p>
<p>
    In the near future, you will be notified via email when this occurs.
</p>
<pre>Nickname: {{user['nickname']}}</pre>

<hr>

<ul class="notes">
    {% for note in notes %}
        <li class="note">

            <p>{{ note.body }} </p>

            {% if note.byline %}
                <p>&mdash; {{note.byline }}</p>
            {% endif %}

        </li>
    {% endfor %}

</ul>


{% endblock %}
