<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img class="avatar" src="{{user['picture']}}"/>
        <h2>Welcome {{user['name']}}</h2>
    </body>
</html>