{% extends "base.htm.j2" %}

{% block title %}Spreading Thankfulness in Open Source{% endblock %}


{% block content %}

    <h2>Spreading Thankfulness in Open Source&trade;</h2>

    <p>
        <strong>SayThanks.io</strong> provides a handy URL for you to share
        with your open source projects&mdash; it encourages users to send a simple thank you note to you, the creator of that project.

    <p>
        This simple link can be addded to READMEs and project documentation.
    </p>

    <p>
        Then, you can enjoy a nice inbox of very small but thoughtful messages
        from the happy users of the software that you've toiled over. :)
    </p>

    <hr />

    <div class="row">
    <div class="twelve u-textcenter">
        <h3>Register Your Inbox of Thankfulness</h3>

        <p>
            Create an account to receive emails when users of your open source project say thanks!
        </p>

        {# GitHub Auth button #}

        <script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
        <script>
            var options = {
              labeledSubmitButton: false,
              auth: {
                redirectUrl: '{{ callback_url }}',
                params: {
                  scope: 'openid email name picture'
                }
              }
            }
            var lock = new Auth0Lock('{{ auth_id }}', '{{ auth_domain }}', options);
        </script>



        <button class="button button-primary" type="submit" onClick="lock.show();">Create Your Thankfulness Inbox</button>

        <span>or...</span>

        <button class="button" type="submit" onClick="lock.show();">Access Your Thankfulness Inbox</button>

    </div>
    </div>

    <hr>

    <p>Account creation and URL generation is currently powered by GitHub. There are no plans to add additional account types at this time.</p>
    <hr>

    <p>
        This is an open source project, and its code is being actively
        developed in the open <a href="https://github.com/kennethreitz/saythanks.io">on GitHub</a>.
    </p>

    <p>Oh, and if you like this project, try <a href="https://saythanks.io/to/kennethreitz">saying thanks</a> to its creator!</p>

    <hr>


{% endblock %}
