{% extends "base.htm.j2" %}

{% block title %}Thankfulness for Open Source{% endblock %}


{% block content %}

    <h2>Welcome to SayThanks.io</h1>

    <p>SayThanks will exist as a thankfulness button/link/inbox for open source projects to add to their repositories and documentation — like a reverse mailing list for users to send little notes of thanks for building something awesome.</p>

    <p>
        This project will be open source, and is hosted
        <a href="https://github.com/kennethreitz/saythanks.io">on GitHub</a>.
    </p>

    <hr />

    <h3>Register for a Thankfulness Inbox</h3>

    <p>
        Create an account to receive emails when users of your open source project
        say thank you.
    </p>
    <form action="/register">
        <button type="submit">Create Your Thankfulness Inbox</button>

    </form>

    <hr />

{% endblock %}