{% extends "base.htm.j2" %}

{% block title %}Spreading Thankfulness in Open Source{% endblock %}


{% block content %}

    <h2>Spreading Thankfulness in Open Source&trade;</h2>

    <p>
        <em>saythanks.io</em> will provide a button/link for use by open
        source projects, to encourage users to send a simple thank you note to
        the creator (or creators) of that project.

    <p>
        This simple button/link can be addded to READMEs and project documentation.
    </p>

    <p>
        The author can then enjoy a nice inbox (ideally) filled with very small,
        thoughtful messages from the happy users of the software they enjoy to toil over.
    </p>


    <hr />

    <p>
        This project is an open source one, and it's code is being actively
        developed in the open <a href="https://github.com/kennethreitz/saythanks.io">on GitHub</a>.
    </p>

    <hr />

    <h3>Register Your Inbox of Thankfulness</h3>

    <p>
        Create an account to receive emails when users of your open source project
        say thank you (note, this is a work in progress).
    </p>
    <form action="/register">
        <button type="submit">Create Your Thankfulness Inbox</button>

    </form>

    <hr />

{% endblock %}