{% extends "base.htm.j2" %}

{% block title %}Create an Account{% endblock %}


{% block content %}

<h2>Register for an Inbox of Thankfulness&trade;</h2>

<p>
    Provide an email address to have a Thankfulness Inbox, and receive
    emails when a user of your open source project sends a note of thanks.
</p>

{# GitHub Auth button #}

<script src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
<script>
    var options = {
      labeledSubmitButton: false,
      auth: {
        redirectUrl: '{{ callback_url }}',
        params: {
          scope: 'openid email name picture'
        }
      }
    }
    var lock = new Auth0Lock('{{ auth_id }}', '{{ auth_domain }}', options);
    lock.show();
</script>

{% endblock %}