{% extends "base.htm.j2" %}

{% block title %}Thank You{% endblock %}

{% block extra_head %}
  <!-- Open Graph / Facebook -->
  <meta property="fb:app_id" content="{{ config['FB_APP_ID'] }}">
  <!-- <meta property="og:url" content="{{ request.url }}"> -->
  <meta property="og:url" content="https://saythanks.io{{ request.path }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ note_body|strip_html|trim|truncate(90)|e }}">
  <meta property="og:description" content="— {{ note.byline|e }}, via saythanks.io">
  <meta property="og:site_name" content="saythanks.io">
  <meta property="og:image" content="https://saythanks.io/static/images/inbox.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ request.url }}">
  <meta name="twitter:title" content="A note of thanks, from {{ note.byline }}">
  <meta name="twitter:description" content="{{ note.body|strip_html|truncate(200) }}">
{% endblock %}

{% block content %}

<form action="../logout" method="POST">
<button type="submit" class="logoutLblPos" >Log Out</button>
</form>
<div class="sharelinks">
    {# --- Sharing --------- #}
    {% set share_url = 'https://saythanks.io' ~ url_for('share_note', uuid=note.uuid) %}
   
    {% set tweet_text = note_body|strip_html
        ~ '\n\n- ' ~ note.byline
        ~ '\n\n' ~ share_url %}

    {% set fb_params = {
        'app_id': config['FB_APP_ID'],
        'display': 'popup', 
        'href': share_url,
        'redirect_uri': share_url
      } %}

    <a class="twitter-share-button" target="_blank" rel="noopener"
      href="https://twitter.com/intent/tweet?text={{ tweet_text|urlencode }}" data-url=" ">
      Share on X
    </a>

    <a class="fb-share" target="_blank" rel="noopener"
      aria-label="Share on Facebook" title="Share on Facebook"
      href="https://www.facebook.com/dialog/share?{{ fb_params|urlencode }}">
      <svg viewBox="0 0 24 24" width="13" height="13" fill="currentColor"
          aria-hidden="true">
        <path d="M13.5 22v-8h2.7l.4-3.2h-3.1V8.7c0-.9.3-1.6 1.6-1.6h1.6V4.2
                c-.3 0-1.3-.1-2.4-.1-2.4 0-4 1.4-4 4.1v2.6H7.6V14h2.7v8h3.2z"/>
      </svg>
    </a>

</div>
<br>
<form class="form-horizontal" action="./{{ user }}/submit" method="post">


<fieldset>

<!-- Form Name -->
<legend>❝ THANK YOU ❞ </legend>

<!-- Textarea -->
<div class="form-group">
  <div class="col-md-4">
    <p class="note">{{ note.body }}</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="byline">Sincerely, </label>
  <div class="col-md-4">
  — {{ note.byline }}

  </div>
</div>

<h2>🝐</h2>
</fieldset>
</form>

{# Have body auto-grow as users type. #}
<script>
  $("#body").autoGrow();
  $('#body').simplyCountable({
  counter: '#counter',
  countType: 'words',
  countDirection: 'up'
});
</script>


{% endblock %}


    <!-- TO BE REMOVED - All the options that were attempted and failed! 
    <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ note_body|strip_html|quote + "%0A%0A- " + note.byline + "%0A%0A" + request.root_url + url_for('share_note', uuid=note.uuid)[1:] + "%0A" }}" data-url=" "></a> </br>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ request.root_url + url_for('share_note', uuid=note.uuid)[1:] }}&layout=button&size=small&width=67&height=20&appId" width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ note_url|urlencode }}"
       target="_blank" rel="noopener">Share on Facebook</a>
    {% set fb_url = request.url_root.rstrip('/') ~ url_for('share_note', uuid=note.uuid) %}
    {% set fb_quote = (note.body|strip_html ~ ' — ' ~ note.byline)|urlencode %}
    {% set share_href =
      'https://www.facebook.com/dialog/share'
      ~ '?app_id=' ~ config['FB_APP_ID']
      ~ '&display=popup'
      ~ '&href=' ~ fb_url|urlencode
      ~ '&redirect_uri=' ~ fb_url|urlencode %}
    <a  target="_blank" href="{{ share_href }}" class="fb-share" rel="noopener">
        Share on Facebook
    </a>
   {% set note_url = 'https://saythanks.io' ~ url_for('share_note', uuid=note.uuid) %}
   <a href="https://www.facebook.com/dialog/share?app_id={{config['FB_APP_ID']}}&href={{ note_url|urlencode }}&redirect_uri={{ note_url|urlencode }}"
      target="_blank" rel="noopener"> Share on Facebook </a>
    -->    
