{% extends "base.htm.j2" %}

{% block title %}Thank You{% endblock %}

{% block content %}

<form action="../logout" method="POST">
<button type="submit" class="logoutLblPos" >Log Out</button>
</form>
<div class="sharelinks">
    <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text={{ note_body|quote + "%0A%0A- " + note.byline + "%0A%0A" + request.root_url + url_for('share_note', uuid=note.uuid)[1:] + "%0A" }}" data-url=" "></a> </br>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ request.root_url + url_for('share_note', uuid=note.uuid)[1:] }}&layout=button&size=small&width=67&height=20&appId" width="67" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe> 
</div>
<br>
<form class="form-horizontal" action="./{{ user }}/submit" method="post">


<fieldset>

<!-- Form Name -->
<legend>❝ THANK YOU ❞ </legend>

<!-- Textarea -->
<div class="form-group">
  <div class="col-md-4">
    <p class="note">{{ note.body }}</p>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="byline">Sincerely, </label>
  <div class="col-md-4">
  — {{ note.byline }}

  </div>
</div>

<h2>🝐</h2>
</fieldset>
</form>

{# Have body auto-grow as users type. #}
<script>
  $("#body").autoGrow();
  $('#body').simplyCountable({
  counter: '#counter',
  countType: 'words',
  countDirection: 'up'
});
</script>


{% endblock %}