{% extends "base.htm.j2" %}

{% block title %}Say Thank You{% endblock %}

{% block content %}


<h4>Send a <strong>Thank You</strong> note to {{ user }}!</h4>

<form class="form-horizontal" action="./{{ user }}/submit" method="post">
<fieldset>

<!-- Form Name -->
<legend>THANK YOU</legend>

<!-- Textarea -->
<div class="form-group">
  <div class="col-md-4">
    <textarea class="form-control u-full-width" id="body" name="body" placeholder="Dear {{ user }}, thank you for..." rows=16></textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="byline">Sincerely, </label>
  <div class="col-md-4">
  <input id="byline" class="u-full-width" name="byline" type="text" placeholder="John Smith | me@example.org" class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn button-primary" type="submit">Send Note</button>
  </div>
</div>

</fieldset>
</form>

{% endblock %}